@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
    }

body{
    font-family: 'Avenir', Helvetica, sans-serif;
}

h1{
  text-align: center;
  font-size: 16px;
  margin-top: 30px;

}


h2{
    font-weight: 500;
    font-size:16px;
    text-align: center;
}


h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
  background-color: #064FA5;
  color: white;
  font-weight: 300;
  margin: 0em;
}

.item1 { 
grid-area: thoughtfully;
}

.img-thoughtfully {
  width: 100%;
}

img.item1 {
  width: 100%;
}


.item2 { 
grid-area: flotsamPromo;
width: 50%;
background-size: cover;
background-image: url('img/flotsampromo.jpeg');
 }

.item3 { 
  grid-area: flotsam; 
  background-size: cover;
  background-image: url('img/flotsam.svg');
}


.grid-container-pics  {
  display: grid;
  grid-template-areas:
  'thoughtfully thoughtfully'
  'flotsamPromo flotsam';
  grid-template-rows: 170px 120px;
}


.message {
  display:grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.7em;
  padding: 3% 3% 3% 3%;
  line-height: 12px;
}

.productImg{
  background-color: #E3E3E3 ;
  width: 150px;
  height: 150px;
  text-align: center;
  /* padding-top: 20px; */
}

img.product-grid__img{
 width:50%;
 padding:auto;

}

p.productSpecial{
color: #064FA5;
font-size: 14px;
margin: 0px;

}

p.productTitle{
font-size: 16px;
font-weight: 500;
margin: 0px;

}

p.productPrice{
  font-size: 16px;
  margin-top: 2px;

}

.productAdd{
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 5px;
}
/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    color: black;

  }
  
  /* Style navigation menu links */
  .topnav a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    background-color:#1F1F1F;
    color: white;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  
  /* Style the active link (or home/logo) */
  .topnav img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    height: 100%;
  }