@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
    }

body{
    font-family: 'Avenir', Helvetica, sans-serif;
    margin: 0px;
}

h1{
  text-align: center;
  font-size: 16px;
  margin-top: 30px;

}


h2{
    font-weight: 500;
    font-size:16px;
    text-align: center;
}


h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
  background-color: #064FA5;
  color: white;
  font-weight: 300;
  margin: 0em;
}

.promoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: (2, 10vw);
  /* grid-template-areas: "thoughtfully thoughtfully"
"flotsamPromo flotsam"; */


  /* grid-auto-rows: repeat(2, 10vw); */
}

.promoImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* display: block; */
} 

.thougtfully {
  grid-column-start: 1;
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.flotsamPromo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;

  /* background-color: black; */

}

 .flotsam {
  grid-row: 2 / span 3;
  grid-column-start: 3;
  grid-column-start: 5;
  /* background-color: blue; */
 } 

.message {
  display:grid;
  grid-template-columns: 33% 33% 33%;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 0.7em;
  padding: 3% 3% 3% 3%;
  line-height: 12px;
}

.productImgBox{
  width: 150px;
  background-color: #E3E3E3 ;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.productImg{
    width: 90px;
  height: 90px;
  text-align: center;
  display: block;
  /* padding-top: 20px; */
}

img.product-grid__img{
 width:50%;
 padding:auto;
 margin-left: auto;
 margin-right: auto;

}

p.productSpecial{
color: #064FA5;
font-size: 14px;
margin: 0px;
padding-top: 10px;


}

p.productTitle{
font-size: 16px;
font-weight: 500;
margin: 0px;

}

p.productPrice{
  font-size: 16px;
  margin-top: 2px;
  margin-bottom: 5px;

}

.promo{
  /* width: 100%; */
  background-color: #171717;
  color: white;
  text-align: left;
  padding-left: 10px;


}

h1.promo {
  padding-top: 20px;
  margin-bottom: 0px;
}

h2.promo {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.btn-more-wrapper{
  text-align: center;
}

button.btn-more {
  background-color: transparent;
  border: 1px solid #707070;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

button.btn-puzzles {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding:10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  width: 170px;
}

img.img-puzzle{
  width: 50px;
  float: right;
  margin-right: 30px;
  margin-top: -20px;
}

.productGrid{
  display: grid;
  grid-template-columns: repeat(auto-fit, 10rem);
  grid-gap: 10px;
  justify-content: center;
}


.productAdd{
  color: white;
  background-color: black;
  font-size: 14px;
  padding: 5px;
  width: 90%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.productLow{
  margin-top: 5px;
  font-size: 15px;
}

i.fa.fa-cart-arrow-down {
  padding-right: 5px;
}

i.fa.fa-heart-o {
  margin-top: 115px;
  position: absolute;
  margin-left: 115px;
  font-size: 15px;
  color: gray;

}


/* Style the navigation menu */
.topnav {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
    color: black;

  }
  
  /* Style navigation menu links */
  .topnav a {
    padding: 15px 20px;
    /* padding-top: 20px; */
    text-decoration: none;
    font-size: 16px;
    display: block;
    background-color:#1F1F1F;
    color: white;
  }
  
  /* Style the hamburger menu */
  .topnav a.hamburger {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-color:transparent;
    color: black;
    /* color: pink; */
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    /* background-color: rgb(0, 0, 0); */
    color:black;
  }
  
  /* Style the active link (or home/logo) */
  .topnav img{
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    top: 0%;
    height: 100%;
  }

  .hamburger {
    background-color: tr;
  }