@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'), url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf') format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
    }
  
body{
      font-family: 'Avenir', Helvetica, sans-serif;
      margin: 0px;
  }

  .content{
    margin-left: 5vw;
    margin-right: 5vw;
  }
  

 
  h1{
    font-size: 1.5rem;
    margin: 0px;
    color: white;
    font-weight: 400;
    line-height: 20vw;
  }



h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 12px;
  text-align: center;
  background-color: #064FA5;
  color: white;
  font-weight: 300;
  margin: 0em;
}


.pagination a {
    color: black;
    background-color: #E3E3E3;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 2px;

  }
  
  .pagination a.active {
    background-color: black;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}


/* Style the navigation menu */


.topnav {
  overflow: hidden;
  position: relative; 
 width: 100%;
}

.topNavBar {
display: grid;
grid-template-columns: 33% 33% 33%;

}

.topnav #myLinks {
 display: none;
 background-color:#1F1F1F;
 padding-top: 20px;
 height: 100vh;

}

.topnav a {
 padding: 15px 20px;
 text-decoration: none;
 font-size: 14px;
 display: block;
 color: white;
}
.searchBarWrap{
 display: none;
}
.search {
 padding: 10px 20px;
 margin: 10px 20px;
 text-decoration: none;
 font-size: 14px;
 display: block;
 background-color:#e0dfdf;
 color: white;
 width: 90%;
 border: none;
 border-radius: 5px;
}

.topnav a.hamburger {
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 background-color:transparent;
 color: black;
}

.topnav .hamburger:hover {
 color: black;
}

.topnav a:hover {
 color:rgb(169, 183, 245);
}

.topnav img{
 text-align: right;
 margin-top: 5px;
 top: 0%;
 height: 100%;
}

img.icon{
 width: 30px;
 float: right;
 margin-right:20px;
}

.topNavBar {
 display: grid;
 grid-template-columns: 66% 33%;
}

.hamburger {
 background-color: tr;
 margin-left: 20px;
 margin-top: 10px;

}

.fa-bars{
 font-size: 18px;
}

.logo {
 width: 100px;
 display: block;

 top: 0%;
 float: right;
}


  .productCategory{
    background-image: url('img/gamebg.png');
    background-size: cover;
    height: 20vw;
    text-align: center;
    position: relative;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

  }

  .categoryLayer{
    background-color: rgba(0,0,0,0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

 
  h2 {
    background-color: #1F1F1F;
    color: white;
    text-align: center;
    font-weight: 300;
    font-size:14px;
    margin: 0px;
    padding: 5px;
  }


  .sidebar{
  display: none;
}


.sidebarContainer {
  width: 200px;
  margin-bottom: 20px;
  margin-left: 5%;
  
}
  .container {
    background-color: #E7EAF0;
    height: auto;
    padding: 15px;
    font-size: 14px;
  }


  .homepage{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 520;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  
  .productGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
    grid-gap: 10px;
    justify-content: center;
  }
  
  
  .productAdd{
    color: white;
    background-color:#1F1F1F;
    font-size: 14px;
    padding: 5px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .productLow{
    margin-top: 5px;
    font-size: 12px;
  }
  
  .productNotLow{
    margin-top: 5px;
    font-size: 12px;
    color: transparent;
  }
  i.fa.fa-cart-arrow-down {
    padding-right: 5px;
  }
  
  i.fa.fa-heart-o {
    font-size: 15px;
    color: gray;
  
  }
  
  .productTitle{
    font-size: 16px;
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
  
  .productImgBox{
    width: 100%;
    background-color: #E3E3E3 ;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .productImg{
    width: 90px;
    height: 90px;
    text-align: center;
    display: block;
  }
  
  img.product-grid__img{
   width:50%;
   padding:auto;
   margin-left: auto;
   margin-right: auto;
  
  }
  
  p.productSpecial{
  color: #064FA5;
  font-size: 14px;
  margin: 0px;
  padding-top: 10px;
  }
  
  p.productNotSpecial{
    color: transparent;
    font-size: 14px;
    margin: 0px;
    padding-top: 10px;
    }
  
  p.productTitle{
  font-size: 16px;
  font-weight: 500;
  margin: 0px;
  
  }
  
  p.productPrice{
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 5px;
  
  }

.promo{
  /* width: 100%; */
  background-color: #171717;
  color: white;
  text-align: left;
  padding-left: 10px;


}

h1.promo {
  padding-top: 20px;
  margin-bottom: 0px;
}

h2.promo {
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;

}

.btn-more-wrapper{
  text-align: center;
}

.btn-more {
  background-color: transparent;
  border: 1px solid #707070;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  margin-top: 5px;
  border-radius: 5px;
  color: black;
}


img.img-puzzle{
  width: 50px;
  float: right;
  margin-right: 30px;
  margin-top: -20px;
}

.bottomNav {
  text-align: center;
}

.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.slider {
  width: 200px;
  margin-bottom: 20px;
}


.filter {
  margin-left: 20px;
  margin-bottom: 30px;
}

  button {
    background-color: #171717;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    border: none;
    border-radius: 20px;
  }

  .btn-hide{
    background-color: transparent;
    color: #171717;
    border: solid 1px #171717;
  }

  .buttonContainer {
    text-align: center;
  }


@media only screen and (min-width: 1200px) {
.sidebar{
  display: block;
}

.pageGrid{
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

}

.productCategory{
  height: 150px;
}

h1{
  line-height: 150px;
}

.filter{
  display: none;
}
}
@media only screen and (min-width: 1000px) {
  .content{
    margin-left: 10vw;
    margin-right: 10vw;
  }
  


  .promoContainer {
        width: 900px;
      }
  
  
  .topnav {
    overflow: hidden;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color:transparent;
  }
  .search{
    display: none;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  
  .topnav a.hamburger {
    display: none;
  
  }
  
  .topnav #myLinks {
    display: block;
    height: 50px;
    background-color: #1F1F1F;
    padding-top: 0px;
  }
  
  
  .categoryRight {
    padding-left: 100px;
  }
  
  .navbar {
    background-color: #1F1F1F;
  }
  
  .messageWrap {
    background-color: #1F1F1F;
  
  }
  .logo{
    /* width: 80px; */
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 5px;
    top: 0%;
    float: none;
  }
  
  img.icon {
    margin-top: 0px;
    margin-right: 20px;
  }
  
  .topnav img{
    text-align: right;
    margin-top: 5px;
    top: 0%;
    height: 100%;
  }
  
  .topnavWrap{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  
  }
  
  
  
  .topNavBar {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    /* text-align: center; */
  
  }
  
  .searchBarWrap {
    display: block;
    
  }
  
  .searchBar{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    background-color:#e0dfdf;
    color: black;
    width: 500px;
    border: none;
    border-radius: 5px;
    height: 30px;
    margin-top:20px;
  }
}

/*footer */
.footer-container{
  padding-top: 30px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #E7EAF0;
  align-content: space-between;  }

.logoContainer{
  width: 300px;
  text-align: center;
}
.footer-logo{
  width: 200px;
}

.footerItem{
  padding-left: 20px;
}